@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;700&display=swap');
/*font-family: 'IBM Plex Serif', serif;*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/*font-family: 'Lilita One', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/*font-family: 'Abel', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
/*font-family: 'Homemade Apple', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@400;700&display=swap');
/*font-family: 'Fira Sans Extra Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap');
/*font-family: 'Comfortaa', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #192a56;
    --light-color: #666;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
}

section {
    padding: 12rem 9%;
    background-color: #D9F4F3;
}

section:nth-child(even) {
    background: #A5D8D6;
}

.sub-heading {
    text-align: center;
    color: #188C88;
    font-size: 7rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 7rem;
    padding-bottom: 2rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: #188C88;
    letter-spacing: .1rem;
}

/* Header Section Style */
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #188C88;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    /*border-bottom-right-radius: 31px;
    border-bottom-left-radius: 31px;*/
}

nav .logo {
    color: #fff;
    font-size: 2.5rem;
    font-weight: bolder;
}

nav .logo i {
    color: var(--green);
}

nav a {
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

nav ul li a.active,
nav ul li a:hover {
    color: #fff;
    background: #A5D8D6;
}

nav .navbar .nav-btn {
    display: none;
}

nav .navbar #nav-check {
    display: none;
}

nav li {
    display: inline;
}

#nav-button {
    display: none;
}

label {
    display: none;
    color: #fff;
}

/* Home Section Style */
.home {
    background-color: #D9F4F3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}

.home .content {
    flex: 1 1 45rem;
}

.home .image {
    flex: 1 1 45rem;
}

.home .image img {
    width: 70%;
    margin-left: 25%;
    padding-top: 5%;
    padding-bottom: 0%;

    animation: fadeIn 10s;
    animation-name: slidein;
    animation-duration: 5s;
    /* animation-iteration-count: infinite;*/
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slidein {
    0% {
        margin-top: 0%;
    }

    50% {
        margin-top: 100px;
    }

    100% {
        margin-top: 0%;
    }
}

.home .content span {
    color: var(--green);
    font-size: 2.5rem;
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

.home .content span[data-scroll="in"] {
    transform: scaleX(1);
}

.home .content span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #188C88;
    transform-origin: right;
    transition: 0.5s;
}

.home .content span[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.2s;
}

.home .content h3 {
    color: var(--black);
    font-size: 7rem;
}

.home .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 1.5;
    position: relative;
    margin: 0;
    display: inline-flexbox;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

.home .content p[data-scroll="in"] {
    transform: scaleX(1);
}

.home .content p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #188C88;
    transform-origin: right;
    transition: 0.5s;
}

.home .content p[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.2s;
}

.home .content .search {
    overflow: hidden;
    background-color: #e9e9e9;
}

.home .content .search a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 50px;
}

.home .content .search a:hover {
    background-color: #ddd;
    color: black;
}

.home .content .search a.active {
    background-color: #2196F3;
    color: white;
}

.home .content .search .search-container {
    float: right;
}

.home .content .search input[type=text] {
    padding: 6px;
    margin-top: 3.5px;
    font-size: 17px;
    border: none;
}

.home .content .search .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.home .content .search .search-container button:hover {
    background: #ccc;
}


.swiper-pagination-bullet-active {
    background: var(--green);
}

/* Abous Section Style */
.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    flex: 45rem;
}

.about .row .image img {
    width: 70%;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h3 {
    color: var(--black);
    font-size: 7rem;
    padding: .5rem 0;
    color: #188C88;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
    line-height: 2;
    text-align: justify;
    position: relative;
    display: inline-block;
    transition: 0.5s;
    transform-origin: left;
    transform: scaleX(0);
}

.about .row .content p[data-scroll="in"] {
    transform: scaleX(1);
}

.about .row .content p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #188C88;
    transform-origin: right;
    transition: 0.5s;
}

.about .row .content p[data-scroll="in"]::before {
    transform: scaleX(0);
    transition-delay: 0.2s;
}

.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}

.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}


/* Stunting Section Style */
.stunting {
    background-color: #D9F4F3;
}

.stunting .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.stunting .box-container .box {
    background: #A5D8D6;
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    opacity: 50%;
}

.stunting .box-container .box:hover {
    background-color: #fff;
    opacity: 100%;
}

.stunting .box-container .box .image {
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

.stunting .box-container .box .image img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.stunting .box-container .box .content {
    padding: 2rem;
    padding-top: 0;
}


.stunting .box-container .box .content h3 {
    color: var(--black);
    font-size: 2.5rem;
    text-align: center;
}

.stunting .box-container .box .content p {
    color: var(--light-color);
    font-size: 1.6rem;
    padding: .5rem 0;
    line-height: 1.5;
    text-align: justify;
}

/* Footer Section Style */
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}

.footer .box-container .box a {
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}

.footer .box-container .box a:hover {
    color: var(--green);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    border-top: .1rem solid rgba(0, 0, 0, .1);
    font-size: 2rem;
    color: var(--black);
    padding: .5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span {
    color: var(--green);
}

.footer .tengah .kolom .deskripsi {
    padding: 1rem;
}

.footer .support .logotelkom {
    margin-top: 2rem;
    padding: 1rem;
    width: 10rem;
    justify-content: center;
}

/* Loader Section Style */
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #D9F4F3;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img {
    width: 15rem;
}

.loader-container.fade-out {
    top: -110%;
    opacity: 0;
}

/* responsive */

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    nav {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
        padding-bottom: 8rem;
    }

    .home .image {
        flex: 1 1 45rem;
    }

    .home .image img {
        width: 0%;
    }

    .about .row .image img {
        width: 50%;
        margin: 10rem;
        margin-top: 3rem;
        margin-bottom: 0rem;
    }

    .about .row .content h3 {
        color: var(--black);
        font-size: 7rem;
        padding: .5rem 0;
        color: #188C88;
        text-align: center;
    }

}

@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    nav {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
        padding-bottom: 8rem;
    }

    .about .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .about .row .image img {
        width: 25;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        margin-top: 3rem;
        margin-bottom: 0rem;

    }

    .about .row .content h3 {
        color: var(--black);
        font-size: 7rem;
        padding: .5rem 0;
        color: #188C88;
        text-align: center;
    }

}

@media (max-width:500px) {

    html {
        font-size: 50%;
    }

    .home {
        padding-top: 25%;
    }

    .about .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        align-items: center;
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .about .row .image img {
        width: 25;
        align-items: center;
        justify-content: center;
        margin-left: 25%;
        margin-top: 3rem;
        margin-bottom: 0rem;

    }

    .about .row .content h3 {
        color: var(--black);
        font-size: 4rem;
        padding: .5rem 0;
        color: #188C88;
        text-align: center;
    }

    .about .row .content p {
        color: var(--light-color);
        font-size: 2.2rem;

        line-height: 2;
        text-align: justify;
    }

    nav {
        align-items: center;
        padding: 10%;

    }

    nav .logo {
        width: 50%;
        position: absolute;
        left: 0px;
    }

    nav ul {
        position: fixed;
        top: 15%;
        left: 0%;
        width: 100%;
        background: #188C88;
        max-height: 0;
        overflow: hidden;
        border-bottom-right-radius: 31px;
        border-bottom-left-radius: 31px;
    }

    nav li {
        display: block;
        width: 100%;
        padding: 5px;
    }

    nav a {
        width: 100%;
        display: block;
    }

    nav li:hover {
        background: rgba(172, 255, 214, 0.452);
    }

    label {
        display: block;
        padding: 0px 10px;
        font-size: 30px;
        cursor: pointer;
        position: absolute;
        right: 2%;
    }

    label:hover {
        color: #D9F4F3;
    }

    nav #nav-button:checked~ul {
        max-height: 100%;
        transition: all 1s ease-out;
    }

    nav .logo {
        color: #fff;
        font-size: 2.5rem;
        font-weight: bolder;
        padding-left: 10%;
    }
}